.header-reg{
    font-family: Arial;
    background-color: rgb(99, 138, 92);
    border-radius: 10px;
    display: flex;
    align-items: center;
    min-height: 70px;
}

.header-reg img{
    width: 70px;
    height: 55px; 
    padding: 5px;
    image-rendering: auto; 
}

.header-reg a{
    font-size: 1.2rem;
    color: black;
    cursor: pointer;
}

.container-reg{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the form elements horizontally */
}

#registration {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adds consistent vertical space between form elements */
}

/* form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#registration input {
    width: 250px; /* Give inputs and button a consistent width */
    padding: 8px;
    box-sizing: border-box; /* Ensures padding doesn't add to the total width */
}

#registration button{
    width: 100px;
    padding: 8px;
    border-radius: 8px;
}